body
{
    background-image: url("../img/food.jpg");
    background-size: cover;
    background-attachment: fixed;
}
h2
{
    text-align: center;
    font-size: 30px;
    color: #eeeeee;
}
.content_table
{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1.5em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,1);
    position: relative;
    left:450px;
    width: 40%;
}
.content_table thead tr
{
    background-color: red;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
    opacity: 75.5%;
}
.content_table th,.content_table td
{
    padding: 12px 15px;
}
.content_table tbody tr
{
    border-bottom: 1px solid #dddddd;
}
.content_table tbody tr:nth-of-type(even)
{
    background-color: #f3f3f3;
    opacity: 65.5%;
}
.content_table tbody tr:nth-of-type(odd)
{
    background-color: #f3f3f3;
    opacity: 65.5%;
}
.content_table tbody tr:last-of-type
{
    border-bottom: 2px solid red;
}
.content_table tbody tr.active-row
{
    font-weight: bold;
    color: red;
}
a button{
    width: 40%;
    background-color: black;
    border: 2px solid black;
    color: white;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}





