input[type=text]{
    width: 40%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}
/*set font size and weight along with text to allign centre*/
h2{
    font-size: 33px;
    font-weight:bold;
    color: #eeeeee;
    padding-bottom: 50px;
    padding-top: 60px;
}

label1 {
    padding: 12px 12px 12px 0;
    display: flex;
    font-size: 20px;
    font-weight: bold;
    color: #eeeeee;
}

.container_pay {
    padding-left: 550px;
    padding-bottom: 100px;
    background-image: url("../img/food.jpg");
    background-size: cover;
    background-attachment: fixed;
}
a1{
    width: 10%;
    padding-left: 550px;
}
br{
    clear: both;
}
button{
    width: 40%;
    background-color: black;
    border: 2px solid black;
    color: white;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
a{
    width: 40%;
    background-color: black;
    border: 2px solid black;
    color: white;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
.error{
    color: red;
}
/*When screen goes below 400px make the label and input be 100% of the width without margin from top*/
@media (max-width: 400px) {
    label,input{
        width: 100%;
        margin-top: 0;
    }
}
